@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,li,dl,dt,dd {
    padding: 0;
    margin: 0;
}
img {
    vertical-align: bottom;
}
body {
    font-size: 16px;
}
.inner {
    width: 960px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.visual {
    position: relative;
}
.position {
    position: absolute;
    top: 40px;
    left: 160px;
    border: 1px solid #000;
    width: 960px;
    height: 64px;
}
.minilogo {
    font-size: 36px;
    margin-left: 20px;
    line-height: 64px;
    width: 77px;
    height: 36px;
    color: #fff;
}
/*　ハンバーガーボタン　*/
.hamburger {
    line-height: 64px;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 900px;
  background : #fff;
}
.hamburger span:nth-child(1) {
  top: 20px;
}
.hamburger span:nth-child(2) {
  top: 30px;
}
.hamburger span:nth-child(3) {
  top: 40px;
}
header h1 {
    position: absolute;
    top: 240px;
    left: 511px;
    text-align: center;
    font-size: 120px;
    color: #fff;
}
header p {
    position: absolute;
    top: 400px;
    left: 600px;
    font-size: 16px;
    width: 166px;
    color: #fff;
}
h2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 36px;
}
h2:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /*下線の上下位置調整*/
  display: inline-block;
  width: 50px; /*下線の幅*/
  height: 1px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置調整*/
  background-color: #666666; /*下線の色*/
}
.contents1 img {
    z-index: 10;
    width: 100%;
}
.contents1 p {
    width: 576px;
    height: 70px;
}
.w_bg {
    background-color: #EDEDED;
    width: 100%;
    height: 240px;
    margin-top: -240px;
}
.contents2 p {
    text-align: center;
    padding-bottom: 60px;
}
.box {
    flex-wrap:wrap;	
}
.box1 {
    width: 420px;
    padding-bottom: 50px;
}
.box2 {
    width: 420px;
    margin-top: 200px;
    padding-bottom: 50px;
}
.box3 {
    width: 420px;
    
}
.box4 {
    width: 420px;
    margin-top: 100px;
}
.contents3 {
    background-color: #EDEDED;
    height: 374px;
}
.box5 {
    width: 300px;
}
.contents3 p {
    text-align: center;
    padding-bottom: 60px;
}
.contents4 {
    margin-top: 180px;
}.contents4 p {
    text-align: center;
    padding-bottom: 60px;
}
dl {
    line-height: 40px;
}
dl dt {
    float: left;
    
}
dl dd {
    margin-left: 150px;
}
.contents5 {
    background-image: url(contact_us.png);
    padding-bottom: 70px;
}
.contents5 p {
    text-align: center;
    padding-bottom: 60px;
}
.contact {
    border: 1px solid #000;
    text-align: center;
    width: 160px;
    margin: auto;
    background-color: #fff;
}
.mail.icon {
  color: #000;
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
  width: 15px;
  height: 10px;
  border-radius: 1px;
  border: solid 1px currentColor;
}
.mail.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
}
.mail.icon:after {
  content: '';
  position: absolute;
  left: 7px;
  top: -4px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}
footer {
    text-align: center;
}